	    <%pending_approvals.each do |pending|%>
			<div class="homepage-block col-md-3">
				<h4><%= pending.user.full_name %></h4>

				<p>
				   <span class="pending-details">Date Submitted</span>: <%= pending.date %>
				</p>
				<p>
				   <span class="pending-details">Date Submitted</span>: <%= truncate(pending.rationale) %>
				</p>
				<div class="row">
					<div class="col-md-6 column">
						<%=link_to 'Approve',approve_post_path(pending), class: 'btn btn-success btn-block', id: "approve_#{pending.id}" %>
					</div>
					<div class="col-md-6 column">
						<%=link_to 'Review',post_path(pending), class: 'btn btn-warning btn-block' %>
					</div>
				</div>
			</div>
		<%end %>